*{
    left: 0;
    right: 0;
    font-family: sans-serif;
}
.main-banner{
    width: 100%;
    height: 100vh;
}
video{
    width: 100%;
    object-fit: contain;
}
.caption{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
}
.video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, #0000);
}